/Lesson7_practices/07-ManipulateFormat_Practice1/build/
/Lesson7_practices/07-ManipulateFormat_Practice1/nbproject/private/
/Lesson8_practices_Methods/Practices/Practice1/08-Methods_Practice1/build/
/Lesson8_practices_Methods/Practices/Practice1/08-Methods_Practice1/nbproject/private/
/Lesson8_practices_Methods/Practices/Practice2/08-Methods_Practice2/build/
/Lesson8_practices_Methods/Practices/Practice2/08-Methods_Practice2/nbproject/private/
/Lesson8_practices_Methods/Practices/Practice3/08-Methods_Practice3/build/
/Lesson8_practices_Methods/Practices/Practice3/08-Methods_Practice3/nbproject/private/
/Lesson8_practices_Methods/Solutions/Practice1/08-Methods_Solution1/build/
/Lesson8_practices_Methods/Solutions/Practice1/08-Methods_Solution1/nbproject/private/
/Lesson8_practices_Methods/Solutions/Practice2/08-Methods_Solution2/build/
/Lesson8_practices_Methods/Solutions/Practice2/08-Methods_Solution2/nbproject/private/
/Lesson8_practices_Methods/Solutions/Practice3/08-Methods_Solution3/build/
/Lesson8_practices_Methods/Solutions/Practice3/08-Methods_Solution3/nbproject/private/
/Practices/Practice1/08-Methods_Practice1/nbproject/private/
/Practices/Practice2/08-Methods_Practice2/build/
/Practices/Practice2/08-Methods_Practice2/nbproject/private/
/Practices/Practice3/08-Methods_Practice3/build/
/Practices/Practice3/08-Methods_Practice3/nbproject/private/
/Lesson8_practices/Practice1/08-Methods_Practice1/build/
/Lesson8_practices/Practice1/08-Methods_Practice1/nbproject/private/
/Lesson8_practices/Practice2/08-Methods_Practice2/build/
/Lesson8_practices/Practice2/08-Methods_Practice2/nbproject/private/
/Lesson8_practices/Practice3/08-Methods_Practice3/build/
/Lesson8_practices/Practice3/08-Methods_Practice3/nbproject/private/
/Lesson9_practices/Practice1/09-EncapConstructors_Practice1/build/
/Lesson9_practices/Practice1/09-EncapConstructors_Practice1/nbproject/private/
/Lesson9_practices/Practice2/09-EncapConstructors_Practice2/build/
/Lesson9_practices/Practice2/09-EncapConstructors_Practice2/nbproject/private/